In [1]:
import pandas as pd
df=pd.read_csv("MalaysiaFloodDataset.csv")
df

,STATE,DISTRICT,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,0V,DEC,ANNUAL RAINFALL,FLOOD
0,108,108001,2000,158.83,162.37,210.68,192.51,214.73,157.55,98.80,165.63,289.14,388.77,313.59,213.60,2566.19,0
1,108,108001,2001,159.10,41.71,174.50,220.56,177.65,105.61,166.59,193.88,206.40,298.14,232.54,150.82,2127.50,1
2,108,108001,2002,61.25,50.34,88.15,207.13,115.01,96.08,115.78,111.12,285.96,206.94,261.33,264.61,1863.70,1
3,108,108001,2003,82.88,118.04,193.40,100.36,101.07,166.81,167.61,270.87,238.84,682.07,251.46,182.35,2555.77,1
4,108,108001,2004,119.30,71.16,120.80,138.74,120.27,146.03,145.35,172.92,222.61,360.21,187.22,168.79,1973.39,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,113,113013,2006,319.70,427.23,196.89,255.44,247.38,235.60,113.64,188.40,269.68,188.49,218.08,441.15,3101.68,1
821,113,113013,2007,525.34,278.92,189.47,202.96,231.20,393.88,302.34,162.90,276.26,305.13,363.68,584.69,3816.78,1
822,113,113013,2008,410.77,283.12,372.34,231.40,222.25,239.34,200.40,310.88,241.40,421.69,399.36,545.99,3878.95,1
823,113,113013,2009,726.05,272.96,254.93,280.74,203.49,186.64,133.75,198.65,140.22,403.83,378.94,373.48,3553.69,1
824,113,113013,2010,545.47,211.71,237.34,187.18,278.18,198.32,370.80,327.32,347.95,340.74,299.20,328.63,3672.85,0

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("MalaysiaFloodDataset.csv")

# convert date
df['shipped_date'] = pd.to_datetime(df['shipped_date'])
df['delivered_date'] = pd.to_datetime(df['delivered_date'])

df['delivery_days'] = (df['delivered_date'] - df['shipped_date']).dt.days
df['delay_days'] = pd.to_numeric(df['delay_days'])

df['courier_code'] = df['courier'].astype('category').cat.codes
df['state_code'] = df['state'].astype('category').cat.codes

plot_cols = ['courier_code', 'state_code', 'delivery_days', 'delay_days']

sns.set(style="ticks", font_scale=1)

g = sns.PairGrid(df, vars=plot_cols, hue="courier")

g.map_diag(sns.histplot, kde=True, alpha=0.6)   # histogram + KDE pada diagonal  
g.map_offdiag(sns.scatterplot, alpha=0.5)       # scatter untuk luar diagonal  

g.add_legend()
plt.show()