In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\AZIZI\\Desktop\\AI&ML\\Daily-practice\\day7-panda\\iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.shape

(150, 5)

In [9]:
df.loc[4]

sepal_length       5.0
sepal_width        3.6
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object

In [10]:
df["species"][4]

'setosa'

In [12]:
df.loc[3]["species"]

'setosa'

In [21]:
df.loc[10:20,["sepal_length","sepal_width","species"]]

    sepal_length  sepal_width species
10           5.4          3.7  setosa
11           4.8          3.4  setosa
12           4.8          3.0  setosa
13           4.3          3.0  setosa
14           5.8          4.0  setosa
15           5.7          4.4  setosa
16           5.4          3.9  setosa
17           5.1          3.5  setosa
18           5.7          3.8  setosa
19           5.1          3.8  setosa
20           5.4          3.4  setosa

In [32]:
columns = ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'species']

iris = pd.read_csv('C:\\Users\\AZIZI\\Desktop\\AI&ML\\Daily-practice\\day7-panda\\iris.csv', header=None, skiprows=1, names=columns)
iris.head(2)

   petal_length  petal_width  sepal_length  sepal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [24]:
mean = (50 + 47 + 51 + 49 + 47) / 5
mean

48.8

In [25]:
values = [50, 47, 51, 49, 47]
values_sorted = sorted(values)

median = values_sorted[2]   
median

49

In [31]:
nums = [20, 80, 130, 50, 5]
values_sorted = sorted(nums)

median = values_sorted[2]   
median

50

In [35]:
iris = pd.read_csv('C:\\Users\\AZIZI\\Desktop\\AI&ML\\Daily-practice\\day7-panda\\iris.csv', header=None, skiprows=1, names=columns)
iris

     petal_length  petal_width  sepal_length  sepal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [38]:
df=iris[["petal_length","sepal_length","petal_width","sepal_width"]]
print("The mean is", df.mean())
print("The median is", df.median())
print("The mode is", df.mode())

The mean is petal_length    5.843333
sepal_length    3.758667
petal_width     3.054000
sepal_width     1.198667
dtype: float64
The median is petal_length    5.80
sepal_length    4.35
petal_width     3.00
sepal_width     1.30
dtype: float64
The mode is    petal_length  sepal_length  petal_width  sepal_width
0           5.0           1.5          3.0          0.2